* {
    box-sizing: border-box;
}

html,body {
    background-color: white;
    color: #4d4e53;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar a {
    display: block;
    padding: 10px 40px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}

#navbar a:hover{
    color: black
}

#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
}

header{
    color: black;
    text-align: center;
    font-size: 1.8rem;
    margin: 10px;
}

#navbar {
    background-color: rgb(221, 221, 236);
    width: 310px;
    height: 100%;
    margin: 2px 1em 1 auto;
    border-right: 2px solid;
    border-right: 3px solid black;
    border-radius: 3px;
    position: fixed;
    top: 0px;
    left: 0px;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#main-doc li {
    margin: 20px;
}

header {
    display: block;
    unicode-bidi: isolate;
}

code {
    display: block;
    text-align: left;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    background-color: lightslategray;
    color: white;
    
}

@media(max-width: 769px){ /*telas menores (mobile)*/
    #navbar{
        position: relative;
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 2px solid black;
    }

    #main-doc {
        margin-left: 0;
        margin-top: 20px;
        position: relative;
    }
}